<div [ngStyle]="{'background-image': photos ? 'url(' + photos + ')' : 'url(\'../../../assets/images/trasp-good.png\')'}"
    class="container-fluid vh-100 d-flex justify-content-center align-items-center sfondo">

    <div class="row justify-content-center align-items-center bg-white rounded-5 border border-2">
        <div class="col-12">
            <h2 class="h2 display-2 text-center">Registrazione</h2>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-8">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- nome -->
                <div class="form-group my-3 d-flex flex-column">
                    <label for="nome">Nome</label>
                    <!-- <input type="text" class="form-control" id="nome" aria-describedby="nome" name="nome"
                            placeholder="Inserisci il tuo nome" formControlName="nome"><input type="text" class="form-control" id="nome" aria-describedby="nome" name="nome"
                            placeholder="Inserisci il tuo nome" formControlName="nome"> -->
                    <input type="text" pInputText formControlName="nome" class="form-control" name="nome"
                        placeholder="Inserisci il tuo nome" />

                    <p *ngIf="form.controls.nome.hasError('required') && form.controls.nome.touched"
                        class="alert-rosso">Il nome è obbligatorio.
                    </p>
                </div>
                <!-- cognome -->
                <div class="form-group my-3">
                    <label for="cognome">Cognome</label>

                    <input type="text" class="form-control" id="cognome" aria-describedby="cognome" name="cognome"
                        placeholder="Inserisci cognome" formControlName="cognome">

                    <p *ngIf="form.controls.cognome.hasError('required') && form.controls.cognome.touched"
                        class="alert-rosso">Il cognome è obbligatorio.
                    </p>
                </div>
                <!-- email -->
                <div class="form-group my-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                        placeholder="Inserisci Email" formControlName="email">
                    <p *ngIf="form.controls.email.hasError('required') && form.controls.email.touched"
                        class="alert-rosso">La mail è obbligatoria.
                    </p>
                    <p *ngIf="form.controls.email.hasError('email') && form.controls.email.touched" class="alert-rosso">
                        Inserisci un formato email valido.
                    </p>
                </div>
                <!-- password -->
                <div class="form-group my-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="password"
                        name="password" placeholder="Inserisci Password" formControlName="password">
                    <p *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
                        class="alert-rosso">La password è obbligatoria.
                    </p>
                </div>
                <!-- ripeti password -->
                <div class="form-group my-3">
                    <label for="exampleInputEmail1">Ripeti Password </label>
                    <input type="password" class="form-control" id="ripetiPassword" aria-describedby="ripetiPassword"
                        name="ripetiPassword" placeholder="ripeti password" formControlName="ripetiPassword">
                    <p *ngIf="form.controls.ripetiPassword.hasError('required') && form.controls.ripetiPassword.touched"
                        class="alert-rosso">Ripeti password è obbligatorio.</p>
                </div>
                <!-- accetto condizioni -->
                <div>
                    <label class="form-check-label" for="form2Example3">
                        I agree all statements in
                        <a>Terms of service</a>
                    </label>
                    <input class="form-check-input ms-2" type="checkbox" id="form2Example3c" name="accetto"
                        formControlName="accetto" />
                    <p *ngIf="form.controls.accetto.hasError('required') && form.controls.accetto.touched"
                        class="alert-rosso">L'accettazione dei termini di servizio è obbligatorio.</p>
                </div>

                <!-- sesso radio buttons-->
                <div class="d-flex flex-column gap-2 my-3">

                    <div class="div-wrapper">

                        <label class="form-check-label" for="">
                            Specificare il proprio sesso:
                        </label>

                        <div class="form-check">
                            <input #radioUomo class="form-check-input" type="radio" name="radioUomo" id="radioUomo"
                                (change)="setSesso($event )">
                            <label class="form-check-label" for="radioUomo">
                                UOMO
                            </label>
                        </div>
                        <div class="form-check">
                            <input #radioDonna class="form-check-input" type="radio" name="radioDonna" id="radioDonna"
                                id="flexRadioDefault2" (change)="setSesso($event )">
                            <label class="form-check-label" for="radioDonna">
                                DONNA
                            </label>
                        </div>

                    </div>
                </div>

                <p-button [disabled]="!getIfFormIsValid()" type="submit" label="Registrati" icon="pi pi-user"
                    styleClass="w-10rem mx-auto btn btn-primary mt-2" />
                <div class="mt-4">
                    <p>Sei già registrato? <a routerLink="/login"> Vai alla pagina di login!</a></p>
                </div>
            </form>
        </div>
    </div>



</div>