<form>
    <!-- nome -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- cognome -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- email -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- password -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- ripeti password -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- sesso -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <!-- accetto condizioni -->
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Registrati</button>
    <div class="mt-4">
        <p>Sei già registrato? <a routerLink="/login"> Vai alla pagina di login!</a></p>
    </div>
</form>