.sfondo {
  position: relative;
  // background-image: url("../../../assets/images/goccia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.height {
  height: 110vh;
}
