<div class="container vh-100">
    <div class="border border-2 p-4 rounded-5 my-4">

        <div class="row">
            <div class="col-12">
                <h2 class="h2 display-2 text-center">Registrazione</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6">
                <form>
                    <!-- nome -->
                    <div class="form-group my-3">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" aria-describedby="nome" name="nome"
                            placeholder="Inserisci il tuo nome">
                    </div>
                    <!-- cognome -->
                    <div class="form-group my-3">
                        <label for="cognome">Cognome</label>
                        <input type="text" class="form-control" id="cognome" aria-describedby="cognome" name="cognome"
                            placeholder="Inserisci cognome">
                    </div>
                    <!-- email -->
                    <div class="form-group my-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                            placeholder="Inserisci Email">
                    </div>
                    <!-- password -->
                    <div class="form-group my-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" aria-describedby="password"
                            name="password" placeholder="Inserisci Password">
                    </div>
                    <!-- ripeti password -->
                    <div class="form-group my-3">
                        <label for="exampleInputEmail1">Ripeti Passord </label>
                        <input type="password" class="form-control" id="password" aria-describedby="password"
                            name="password" placeholder="ripeti password">
                    </div>
                    <!-- accetto condizioni -->
                    <div class="form-group my-3">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>

                    <!-- sesso radio buttons-->
                    <div class="d-flex gap-4 my-3">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="uomocheck">
                            <label class="form-check-label" for="uomocheck">
                                Uomo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="donnacheck">
                            <label class="form-check-label" for="donnacheck">
                                Donna
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Registrati</button>
                    <div class="mt-4">
                        <p>Sei già registrato? <a routerLink="/login"> Vai alla pagina di login!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>