<div class="container vh-100">
    <div class="border border-2 p-4 rounded-5 my-4">

        <div class="row">
            <div class="col-12">
                <h2 class="h2 display-2 text-center">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6">
                <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                    <div class="form-group my-2">

                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Inserisci Email" name="email" ngModel required>

                    </div>
                    <div class="form-group my-2">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Inserisci Password" name="password" ngModel required>
                    </div>

                    <button type="submit" class="btn btn-primary">Effettua Login</button>
                    <div class="mt-4">
                        <p>Non sei registrato? <a routerLink="/registrazione"> Effettua la registrazione!</a></p>
                    </div>
                    <div>
                        <p *ngIf="wrongCredentials" class="alert-rosso"> Email o password non corrispondono. Riprova.
                        </p>
                        <p *ngIf="notUserRegistered" class="alert-rosso">utente non trovato. Effettua la registrazione.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>